html { height: 100%; }
body { background: #212121; font: 400 1.5em/1.5 "Droid Serif", serif; color: #d1e5f5; text-align: center; height: 100%; color: #d1e5f5; }

h1 { font: 700 2.8em/1.2 "Droid Sans", sans-serif; }
h2 { font: 700 1.5em/1.5 "Droid Sans", sans-serif; margin: 1em 0; }

#banner { background: url(https://preview.redd.it/z7sgi1e7qep61.jpg?auto=webp&s=31eddf837d6139ce9eac881b3377d4111bd54c3c) no-repeat fixed 100% 100%; background-size: cover; color: #fff; height: 100%; width: 100%; }

#bannertext { width: 24em; position:absolute; top: 20%; left: 50%; border: .10em solid #fff; margin-left: -12em; padding: 1em 0; }

#content { max-width: 28em; text-align: justify; margin: 0 auto; padding: 2em; }

#content p { margin: 0 0 2em; }